{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – Complete
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column">

      {{ govukPanel({
        titleText: "Your score is 4 out of 6",
        html: "<br><strong>See below for feedback on your answers</strong>"
      }) }}
      <p></p>
      <h2 class="govuk-heading-m">Which services are in the STS portfolio?</h3>
        <p>You correctly answered "Plan Tech and School Account"</p>
      <h2 class="govuk-heading-m">Where is the Plan Tech prototype hosted?</h3>
        <p>You answered "Figma". The correct answer was "Heroku".</p>
        <p>Visit the <a href=#>Prototype</a> section of the Wiki for more info.</p>
      <h2 class="govuk-heading-m">Question 3?</h3>
        <p>Question 3 feedback</p>
      <h2 class="govuk-heading-m">Question 4?</h3>
        <p>Question 4 feedback</p>
      <h2 class="govuk-heading-m">Question 5?</h3>
        <p>Question 5 feedback</p>
      <h2 class="govuk-heading-m">Question 6?</h3>
        <p>Question 6 feedback</p>
    </div>
  </div>

{% endblock %}
